<a href="https://colab.research.google.com/github/dasdasqs2/pdm05/blob/master/py-pandas/pandas_2_handling_df.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Python module 3. **pandas**

# Using pandas

* [10 Minutes to pandas](https://pandas.pydata.org/pandas-docs/stable/10min.html)
* [Pandas tutorial with interactive exercises](https://www.kaggle.com/pistak/pandas-tutorial-with-interactive-exercises)

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# %matplotlib inline  # work for Jupyter notebook or lab



---

## [2] Handling DataFrame
- head()
- tail()
- describe()
- info()

In [3]:
# Creating a DataFrame by passing a NumPy array, with a datetime index and labeled columns:
dates = pd.date_range('20200928', periods=6)
dates

DatetimeIndex(['2020-09-28', '2020-09-29', '2020-09-30', '2020-10-01',
               '2020-10-02', '2020-10-03'],
              dtype='datetime64[ns]', freq='D')

In [4]:
# head()
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df.head()

                   A         B         C         D
2020-09-28 -0.385107 -0.116527  0.951748 -0.574520
2020-09-29  0.263822  0.451950  0.497897 -0.120421
2020-09-30  0.421154  0.323934 -1.677896  0.711494
2020-10-01  0.610172 -1.033975  0.009481  0.771153
2020-10-02  0.941601  0.484926  0.694766 -0.175535

In [5]:
df.head(2)

                   A         B         C         D
2020-09-28 -0.385107 -0.116527  0.951748 -0.574520
2020-09-29  0.263822  0.451950  0.497897 -0.120421

In [6]:
df.tail(3)

                   A         B         C         D
2020-10-01  0.610172 -1.033975  0.009481  0.771153
2020-10-02  0.941601  0.484926  0.694766 -0.175535
2020-10-03 -1.359312 -0.547982 -0.342588  0.060549

In [7]:
# Display the index, columns, and the underlying NumPy data:
df.index

DatetimeIndex(['2020-09-28', '2020-09-29', '2020-09-30', '2020-10-01',
               '2020-10-02', '2020-10-03'],
              dtype='datetime64[ns]', freq='D')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6 entries, 2020-09-28 to 2020-10-03
Freq: D
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       6 non-null      float64
 1   B       6 non-null      float64
 2   C       6 non-null      float64
 3   D       6 non-null      float64
dtypes: float64(4)
memory usage: 240.0 bytes

In [9]:
# describe() shows a quick statistic summary of your data:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.082055 -0.072946  0.022234  0.112120
std    0.832050  0.615693  0.955641  0.530006
min   -1.359312 -1.033975 -1.677896 -0.574520
25%   -0.222875 -0.440119 -0.254571 -0.161757
50%    0.342488  0.103704  0.253689 -0.029936
75%    0.562918  0.419946  0.645549  0.548758
max    0.941601  0.484926  0.951748  0.771153

In [10]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [11]:
# Transposing your dataframe:
df.T

   2020-09-28  2020-09-29  2020-09-30  2020-10-01  2020-10-02  2020-10-03
A   -0.385107    0.263822    0.421154    0.610172    0.941601   -1.359312
B   -0.116527    0.451950    0.323934   -1.033975    0.484926   -0.547982
C    0.951748    0.497897   -1.677896    0.009481    0.694766   -0.342588
D   -0.574520   -0.120421    0.711494    0.771153   -0.175535    0.060549

In [12]:
df.T.index

Index(['A', 'B', 'C', 'D'], dtype='object')

### Sorting

#### Sort by index
- sort_index(axis=0, ascending=False)
- sort_index(axis=1, ascending=False)

> Axis=0 Column-Wise Operation (수직으로)

> Axis=1 Row-Wise Operation (수평으로)

In [13]:
# Sorting by an axis:
df, df.sort_index(axis=0) #, ascending=False)

(                   A         B         C         D
 2020-09-28 -0.385107 -0.116527  0.951748 -0.574520
 2020-09-29  0.263822  0.451950  0.497897 -0.120421
 2020-09-30  0.421154  0.323934 -1.677896  0.711494
 2020-10-01  0.610172 -1.033975  0.009481  0.771153
 2020-10-02  0.941601  0.484926  0.694766 -0.175535
 2020-10-03 -1.359312 -0.547982 -0.342588  0.060549,
                    A         B         C         D
 2020-09-28 -0.385107 -0.116527  0.951748 -0.574520
 2020-09-29  0.263822  0.451950  0.497897 -0.120421
 2020-09-30  0.421154  0.323934 -1.677896  0.711494
 2020-10-01  0.610172 -1.033975  0.009481  0.771153
 2020-10-02  0.941601  0.484926  0.694766 -0.175535
 2020-10-03 -1.359312 -0.547982 -0.342588  0.060549)

In [14]:
df,df.sort_index(axis=1, ascending=False)

(                   A         B         C         D
 2020-09-28 -0.385107 -0.116527  0.951748 -0.574520
 2020-09-29  0.263822  0.451950  0.497897 -0.120421
 2020-09-30  0.421154  0.323934 -1.677896  0.711494
 2020-10-01  0.610172 -1.033975  0.009481  0.771153
 2020-10-02  0.941601  0.484926  0.694766 -0.175535
 2020-10-03 -1.359312 -0.547982 -0.342588  0.060549,
                    D         C         B         A
 2020-09-28 -0.574520  0.951748 -0.116527 -0.385107
 2020-09-29 -0.120421  0.497897  0.451950  0.263822
 2020-09-30  0.711494 -1.677896  0.323934  0.421154
 2020-10-01  0.771153  0.009481 -1.033975  0.610172
 2020-10-02 -0.175535  0.694766  0.484926  0.941601
 2020-10-03  0.060549 -0.342588 -0.547982 -1.359312)

#### Sort by value
- sort_values(by='column')

In [15]:
# Sorting by values:
df,df.sort_values(by='B') #, ascending=False)

(                   A         B         C         D
 2020-09-28 -0.385107 -0.116527  0.951748 -0.574520
 2020-09-29  0.263822  0.451950  0.497897 -0.120421
 2020-09-30  0.421154  0.323934 -1.677896  0.711494
 2020-10-01  0.610172 -1.033975  0.009481  0.771153
 2020-10-02  0.941601  0.484926  0.694766 -0.175535
 2020-10-03 -1.359312 -0.547982 -0.342588  0.060549,
                    A         B         C         D
 2020-10-01  0.610172 -1.033975  0.009481  0.771153
 2020-10-03 -1.359312 -0.547982 -0.342588  0.060549
 2020-09-28 -0.385107 -0.116527  0.951748 -0.574520
 2020-09-30  0.421154  0.323934 -1.677896  0.711494
 2020-09-29  0.263822  0.451950  0.497897 -0.120421
 2020-10-02  0.941601  0.484926  0.694766 -0.175535)

## indexing and slicing of DataFrame

#### Selecting data by indexing and slicing
- indexing
- slicing

In [16]:
# Selecting a single column, which yields a Series
df['A']

2020-09-28   -0.385107
2020-09-29    0.263822
2020-09-30    0.421154
2020-10-01    0.610172
2020-10-02    0.941601
2020-10-03   -1.359312
Freq: D, Name: A, dtype: float64

### 그러면 열-A,B를 다 선택하려면?

In [17]:
df[['A','B']] #df['A','B']

                   A         B
2020-09-28 -0.385107 -0.116527
2020-09-29  0.263822  0.451950
2020-09-30  0.421154  0.323934
2020-10-01  0.610172 -1.033975
2020-10-02  0.941601  0.484926
2020-10-03 -1.359312 -0.547982

In [18]:
# Selecting via [], which slices the rows.
df[0:3]

                   A         B         C         D
2020-09-28 -0.385107 -0.116527  0.951748 -0.574520
2020-09-29  0.263822  0.451950  0.497897 -0.120421
2020-09-30  0.421154  0.323934 -1.677896  0.711494

In [19]:
df['20200928':'20201001'] # 인덱스가 아닌 값인 경우는 지정된 범위가 다 선택된다.

                   A         B         C         D
2020-09-28 -0.385107 -0.116527  0.951748 -0.574520
2020-09-29  0.263822  0.451950  0.497897 -0.120421
2020-09-30  0.421154  0.323934 -1.677896  0.711494
2020-10-01  0.610172 -1.033975  0.009481  0.771153

#### Selecting data by label

> **loc, iloc**

In [21]:
df

                   A         B         C         D
2020-09-28 -0.385107 -0.116527  0.951748 -0.574520
2020-09-29  0.263822  0.451950  0.497897 -0.120421
2020-09-30  0.421154  0.323934 -1.677896  0.711494
2020-10-01  0.610172 -1.033975  0.009481  0.771153
2020-10-02  0.941601  0.484926  0.694766 -0.175535
2020-10-03 -1.359312 -0.547982 -0.342588  0.060549

In [22]:
df.loc[dates[0]]   # loc()

A   -0.385107
B   -0.116527
C    0.951748
D   -0.574520
Name: 2020-09-28 00:00:00, dtype: float64

In [23]:
# Selecting on a multi-axis by label:
df.loc[:,['A','B']]

                   A         B
2020-09-28 -0.385107 -0.116527
2020-09-29  0.263822  0.451950
2020-09-30  0.421154  0.323934
2020-10-01  0.610172 -1.033975
2020-10-02  0.941601  0.484926
2020-10-03 -1.359312 -0.547982

#### [도전코딩]

> Select data for first two days AND comumn 3,4 from df.

In [27]:
# df.loc[0:2,['C','D']]
# df.loc['20200928':'20200929',['C','D']]
df.loc[dates[:2],['C','D']]

                   C         D
2020-09-28  0.951748 -0.574520
2020-09-29  0.497897 -0.120421

#### Selecting data by position (iloc())
- index 사용

In [28]:
df

                   A         B         C         D
2020-09-28 -0.385107 -0.116527  0.951748 -0.574520
2020-09-29  0.263822  0.451950  0.497897 -0.120421
2020-09-30  0.421154  0.323934 -1.677896  0.711494
2020-10-01  0.610172 -1.033975  0.009481  0.771153
2020-10-02  0.941601  0.484926  0.694766 -0.175535
2020-10-03 -1.359312 -0.547982 -0.342588  0.060549

In [31]:
df.iloc[3]  # 결과는 차원축소형으로 표현됨.

A    0.610172
B   -1.033975
C    0.009481
D    0.771153
Name: 2020-10-01 00:00:00, dtype: float64

In [29]:
# [다시 도전]
# Select data for first two days AND comumn 3,4 from df.
# Use iloc
df.iloc[:2,2:4]

                   C         D
2020-09-28  0.951748 -0.574520
2020-09-29  0.497897 -0.120421

In [30]:
# Select one item
df.iloc[1,1]

0.45195009487122056

#### Selecting data by Boolean indexing

In [33]:
df

                   A         B         C         D
2020-09-28 -0.385107 -0.116527  0.951748 -0.574520
2020-09-29  0.263822  0.451950  0.497897 -0.120421
2020-09-30  0.421154  0.323934 -1.677896  0.711494
2020-10-01  0.610172 -1.033975  0.009481  0.771153
2020-10-02  0.941601  0.484926  0.694766 -0.175535
2020-10-03 -1.359312 -0.547982 -0.342588  0.060549

In [34]:
df[df.A > 0]

                   A         B         C         D
2020-09-29  0.263822  0.451950  0.497897 -0.120421
2020-09-30  0.421154  0.323934 -1.677896  0.711494
2020-10-01  0.610172 -1.033975  0.009481  0.771153
2020-10-02  0.941601  0.484926  0.694766 -0.175535

In [35]:
df[df > 0]

                   A         B         C         D
2020-09-28       NaN       NaN  0.951748       NaN
2020-09-29  0.263822  0.451950  0.497897       NaN
2020-09-30  0.421154  0.323934       NaN  0.711494
2020-10-01  0.610172       NaN  0.009481  0.771153
2020-10-02  0.941601  0.484926  0.694766       NaN
2020-10-03       NaN       NaN       NaN  0.060549